<html lang="en">

{% extends 'base_template.jinja2' %}
{% block content %}

    <head>
        <title>YouBreccia Rock Trading Hub</title>
    </head>

    <body>
    <div class="container">
        <h1>YouBreccia</h1>
        <i class="fab fa-mdb"></i>
        <h2>Welcome to YouBreccia's Rock Trading Hub!</h2>
        <p><em>Greetings fellow YouBreccian</em></p>
        <p>This website was created to handle the outcry of emotion at RockCON 2020 in Geneva, Switzerland.

            <br>
            <br>

            <strong>YouBreccian Member Duties:</strong>
        <ol>
            <li>Register as a user</li>
            <li>Request Rocks</li>
            <li>Review Rocks</li>
        </ol>
        <p><strong>Headquarters Address:</strong><br/>
            <em>YouBreccia Way 71, Ramersberg 6060 Switzerland</em></p>
    </div>
    </body>

{% endblock %}

</html>
